<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/login">Login</a>
<a href="/signup">Sign up</a>

{{#if userInSession}}
  <h2>{{userInSession.username}}</h2>
  <a href="/profile">Profile</a>
  <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>
{{/if}}

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{else if loggedIn}}
  <p>You are logged in already</p>
  <a href="/profile">Profile</a>

{{/if}}

<a href="/main">Main</a>
<a href="/private">private</a>